<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- Hibernate主配置文件 -->
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库连接信息 -->
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:XE
		</property>
		<property name="hibernate.connection.username">
			jsd1702
		</property>
		<property name="hibernate.connection.password">
			jsd1702
		</property>
		
		<!-- 配置c3p0参数 -->
		<!-- 声明使用c3p0连接池 -->
		<property name="connection.provider_class">
			org.hibernate.c3p0.internal.C3P0ConnectionProvider
		</property>
		
		<!-- 设置c3p0连接池 -->
		<!-- 最大容量 -->
		<property name="c3p0.max_size">20</property>
		<!-- 最小容量 -->
		<property name="c3p0.min_size">5</property>
		<!-- 最大语句对象数量 -->
		<property name="c3p0.max_statements">50</property>
		<!-- 超时时间 -->
		<property name="c3p0.timeout">5000</property>
		<!-- 检测超时时间间隔 -->
		<property name="c3p0.idle_test_period">2000</property>
		<!-- 容量扩容增量 -->
		<property name="c3p0.acquire_increment">5</property>
		<!-- end of connection pools config -->
		 <property name="cache.use_second_level_cache">true</property>

		<!-- 指定二级缓存供应商 -->
		<property name="hibernate.cache.region.factory_class">
			org.hibernate.cache.ehcache.EhCacheRegionFactory
		</property>
		<property name="dialect">
		org.hibernate.dialect.Oracle10gDialect
		</property>
		<!-- 是否执行DDL语句 -->
		<property name="hbm2ddl.auto">update</property>
		<!-- 是否显示SQL语句 -->
		<property name="show_sql">true</property>
		<!-- 是否格式化SQL语句 -->
		<property name="format_sql">true</property>
		
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- 配置数据库方言 -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>

		<!-- 是否自动执行DDL语句(update表示如果不存在则没有创建;否则,更新) -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- 是否显示SQL语句(执行时,是否在控制台打印执行的SQL语句) -->
		<property name="hibernate.show_sql">true</property>

		<!-- 是否格式化SQL语句 -->
		<property name="hibernate.format_sql">true</property>

		<!-- 在hibernate中配置与本地线程绑定的session -->
		<property name="hibernate.current_session_context_class">thread</property>
		

		<!-- 导入注解配置的实体类 -->
		<mapping class="com.tz.online.entity.Book"/>
		<mapping class="com.tz.online.entity.Address"/>
		<mapping class="com.tz.online.order.OrderItem"/>
		<mapping class="com.tz.online.order.Order"/>
		<mapping class="com.tz.online.user.User"/>
		<mapping class="com.tz.online.entity.Category"/>
		<mapping class="com.tz.online.entity.Image"/>
	</session-factory>
</hibernate-configuration>
