<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="product-gateway" parallel="false" thread-count="2">
    <test verbose="2" preserve-order="true" name="Spu">  
        <classes>
             <class name="com.tz.online.DDL.DDLTest"></class>
             <class name="com.tz.online.BookTest.BookTest"></class>
             <class name="com.tz.online.AddressTest.AddressTest"></class>
             <class name="com.tz.online.OrderTest.OrderTest"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->